table {
  width: 100%;
}

.center {
  text-align: center;
}

button {
  // height: 32px;
  // width: 32px;
  box-shadow: none !important;
  &:first-child {
    margin-right: 8px;
  }
}

.edit {
  background: orange;
}

.delete {
  background: tomato;
}

// i.edit {
//   color: silver;
// }
// i.delete {
//   color: tomato;
// }
