<mat-card>
  <mat-card-title>Confirm Removal Product</mat-card-title>
  <form>
    <mat-form-field>
      <input matInput placeholder="name" [value]="product.name" name="name" disabled>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Price (U$)" [value]="product.price" name="price" disabled>
    </mat-form-field>
  </form>

  <button mat-flat-button (click)="removeProduct()" color="warn">Delete</button>

  <button mat-stroked-button (click)="cancel()" color="basic">Cancel</button>
</mat-card>